<!DOCTYPE html>
<html>
<head>
<title>This is going to be the first Slice</title>
</head>
<body>

<h1>Using slices</h1>
<p>My first slice.</p>
<ul>

{{index . 2}}
{{index . 3}}
{{index . 1}}

</ul>
</body>
</html>